@mixin mobile {
  @media (max-width: 767px){
    @content;
  }
}

body {
  height: 100vh;
  width: 100%;
  max-width: 800px;
  margin: auto;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: right;

  @include mobile {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  h1 {
    font-size: 6rem;

    @include mobile {
      font-size: 3rem;
    }

    > span {
      > span:last-child {
        color: #dba506;
        color: #0055aa;
        color: darken(#1060f4, 12.5%);
        // color: lighten(#3d3572, 12.5%);
      }
      i {
        color: #3d3572;
        color: #0055aa;
        color: darken(#1060f4, 0%);
      }
    }
  }
  a {
    padding: 7px 18px;
    border-radius: 4px;
    background-color: #3d3572;
    color: #fff !important;
    text-decoration: none;
    font-size: 1.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: .2s ease-in-out;

    i {
      margin-left: 8px;
    }
    // margin: 0 0 0 auto;
    &:hover {
      background-color: darken(#3d3572, 5%);
      // background-color: #39316a;
    }

    @include mobile{
      margin-top: 1rem;
      display: block;
    }
  }
}